**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfplan
*.tfplan.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend.hcl
.terraformrc
terraform.rc

.env
.env.*
!.env.example
.scannerwork/
trivy-results.*
*.sarif
