bucket       = "REPLACE_WITH_BOOTSTRAP_OUTPUT"
key          = "global-360/production/terraform.tfstate"
region       = "ap-southeast-2"
encrypt      = true
kms_key_id   = "REPLACE_WITH_BOOTSTRAP_KMS_KEY_ARN"
use_lockfile = true
